<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading small-site-title">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      
      <div class="footer-col footer-col-1 footer-contact">
        <ul class="contact-list footer-content">
          <li><a href="mailto:{{ site.email }}">contact me</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2 footer-content">
        <ul class="social-media-list">
          {% if site.youtube_username %}
          <li>
            {% include icon-youtube.html username=site.youtube_username %}
          </li>
          {% endif %}
          
          {% if site.steam_id && site.steam_username %}
          <li>
            {% include icon-steam.html id=site.steam_id username=site.steam_username %}
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3 site-description">
        <p>{{ site.description }}</p>
        <p>where your dream comes true</p>
      </div>
    </div>

  </div>

</footer>
